.notesContainer {
    display: flex;
    height: 100vh;
    padding: 20px;
    margin: 0;
}

.addNoteItems {
    display: flex;
    flex: 1;
    flex-direction: column;
    height: 100%;
    max-width: 50%;
}

.addNoteField {
    height: 80%;
    resize: none;
    outline: none;
}

.addNoteButton {
    height: 20%;
}

.allNotes {
    flex: 1;
}